@page "/login"
@rendermode InteractiveServer
@using AssetApp.Models
@using System.ComponentModel.DataAnnotations
@using AssetApp.Services
@inject AuthService AuthService
@inject Session Session
@inject NavigationManager NavigationManager


<EditForm EditContext="@editContext" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>Username</label>
        <InputText @bind-Value="loginModel.Username" />
    </div>

    <div>
        <label>Password</label>
        <InputText @bind-Value="loginModel.Password" type="password" />
    </div>

    <button type="submit">Login</button>

    @if (invalidLogin)
    {
        <p style="color:red;">Invalid username or password</p>
    }
</EditForm>

@code {
    private LoginModel loginModel = new LoginModel();
    private EditContext editContext;
    private bool invalidLogin = false;

    protected override void OnInitialized()
    {
        editContext = new EditContext(loginModel);
    }

    private async Task HandleLogin()
    {
        if (AuthService.ValidateUser(loginModel))
        {
            await Session.SetUserAsync(loginModel.Username);
            NavigationManager.NavigateTo("/assets-dashboard",forceLoad: true);
        }
        else
        {
            invalidLogin = true;
        }
    }
}
